amqp==5.3.1
APScheduler==3.11.0
bcrypt==4.3.0
billiard==4.2.1
blinker==1.8.2
boto3==1.35.24
botocore==1.35.24
celery==5.4.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
dnspython==2.7.0
dotenv==0.9.9
email_validator==2.2.0
Flask==3.0.3
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
greenlet==3.2.2
gunicorn==23.0.0
idna==3.10
iniconfig==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
kombu==5.4.2
MarkupSafe==2.1.5
packaging==25.0
pluggy==1.5.0
prompt_toolkit==3.0.48
psycopg2-binary==2.9.9
pytest==8.3.5
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
s3transfer==0.10.3
six==1.16.0
SQLAlchemy==2.0.41
typing_extensions==4.13.2
tzdata==2024.2
tzlocal==5.3.1
urllib3==2.2.3
vine==5.1.0
wcwidth==0.2.13
Werkzeug==3.0.4
WTForms==3.1.2
