/* Основные стили для страницы новости */
.news-detail {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease;
}

.news-header {
    margin-bottom: 20px;
}

.news-title {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: rgb(51, 51, 51);
    font-family: 'Montserrat', sans-serif;
}

.news-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.news-content {
    font-size: 1.2em;
    line-height: 1.6;
    color: rgb(102, 102, 102);
}

.news-content p {
    margin-bottom: 20px;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .news-detail {
        padding: 10px;
    }

    .news-title {
        font-size: 2em;
    }

    .news-content {
        font-size: 1em;
    }
}

/* Анимация появления */
.fade-in-up {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Темная тема */
.dark-theme .news-detail {
    background: rgb(51, 51, 51);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.dark-theme .news-title {
    color: rgb(224, 224, 224);
}

.dark-theme .news-content {
    color: rgb(153, 153, 153);
}

.dark-theme .news-image {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
