/* Общие стили */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8; /* Холодный фон */
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    color: black;
}

/* Шапка */
header {
    background-color: #6c757d; /* Холодный цвет */
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
    color: #fff;
}

.tagline {
    font-size: 1.2em;
    color: #e9ecef;
}

/* Секция героя */
.hero-image {
    background-image: url('4k-mountain.jpg'); /* Замените на путь к вашему изображению */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон для текста */
    padding: 20px;
    border-radius: 10px;
}

.hero-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Холодный цвет кнопки */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3; /* Холодный цвет кнопки при наведении */
}

/* Секция услуг */
.services {
    padding: 50px 0;
    text-align: center;
    background-color: #e9ecef; /* Холодный фон */
}

.services h2 {
    font-size: 2em;
    margin-bottom: 7%;
    color: #343a40; /* Холодный цвет текста */
}

.service-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.service-card:hover {
    transform: translateY(-10px);
}

.service-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #343a40; /* Холодный цвет текста */
}

.service-card p {
    font-size: 1em;
    color: #555;
}

/* Секция цитат */
.quotes {
    padding: 50px 0;
    text-align: center;
    background-color: #f0f4f8; /* Холодный фон */
}

.quotes h2 {
    font-size: 2em;
    margin-bottom: 30px;
    color: #343a40; /* Холодный цвет текста */
}

.quote-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #007bff; /* Холодный цвет рамки */
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100px; /* Фиксированная высота */
    overflow: hidden; /* Скрываем выступающие части */
}

.quote-text {
    font-size: 1.5em;
    color: #555;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    transform: translateY(20px);
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quote-text.active {
    opacity: 1;
    transform: translate(-50%, -50%);
}

/* Медиа-запросы для адаптивного дизайна */
@media (max-width: 768px) {
    .quotes h2 {
        font-size: 1.5em;
    }

    .quote-text {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    .quotes h2 {
        font-size: 1.2em;
    }

    .quote-text {
        font-size: 1em;
    }
}

/* Методология расчета калорий */
.methodology {
    padding: 50px 0;
    background-color: #e9ecef; /* Холодный фон */
}

.methodology h2 {
    font-size: 2em;
    margin-bottom: 30px;
    color: #343a40; /* Холодный цвет текста */
    text-align: center;
}

.methodology-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.methodology-content h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #343a40; /* Холодный цвет текста */
}

.methodology-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #555;
}

.methodology-content ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 1.2em;
    color: #555;
}

.methodology-content ul li {
    margin-bottom: 10px;
}

/* Медиа-запросы для адаптивного дизайна */
@media (max-width: 768px) {
    .methodology h2 {
        font-size: 1.5em;
    }

    .methodology-content h3 {
        font-size: 1.2em;
    }

    .methodology-content p,
    .methodology-content ul {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .methodology h2 {
        font-size: 1.2em;
    }

    .methodology-content h3 {
        font-size: 1em;
    }

    .methodology-content p,
    .methodology-content ul {
        font-size: 0.9em;
    }
}


/* Медиа-запросы для адаптивного дизайна */
@media (max-width: 768px) {
    .hero h2 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1em;
    }

    .service-card {
        width: 48%;
    }
}

@media (max-width: 480px) {
    .hero h2 {
        font-size: 1.5em;
    }

    .hero p {
        font-size: 0.9em;
    }

    .service-card {
        width: 100%;
    }
}