:root {
    --bg-color: rgb(240, 244, 248);
    --text-color: rgb(51, 51, 51);
    --header-bg-color: rgb(108, 117, 125);
    --header-text-color: rgb(255, 255, 255);
    --hero-bg-color: rgba(0, 0, 0, 0.5);
    --hero-text-color: rgb(255, 255, 255);
    --services-bg-color: rgb(233, 236, 239);
    --services-text-color: rgb(52, 58, 64);
    --quote-bg-color: rgb(207, 207, 207);
    --quote-text-color: rgb(85, 85, 85);
    --methodology-bg-color: rgb(240, 244, 248);
    --methodology-text-color: rgb(52, 58, 64);
    --card-bg-color: rgb(255, 255, 255);
    --card-text-color: rgb(85, 85, 85);
    --btn-bg-color: rgb(0, 123, 255);
    --btn-hover-bg-color: rgb(0, 86, 179);
}

.dark-theme {
    --bg-color: rgb(18, 18, 18);
    --text-color: rgb(224, 224, 224);
    --header-bg-color: rgb(51, 51, 51);
    --header-text-color: rgb(224, 224, 224);
    --hero-bg-color: rgba(0, 0, 0, 0.7);
    --hero-text-color: rgb(224, 224, 224);
    --services-bg-color: rgb(33, 33, 33);
    --services-text-color: rgb(224, 224, 224);
    --quote-bg-color: rgb(51, 51, 51);
    --quote-text-color: rgb(224, 224, 224);
    --methodology-bg-color: rgb(18, 18, 18);
    --methodology-text-color: rgb(224, 224, 224);
    --card-bg-color: rgb(66, 66, 66);
    --card-text-color: rgb(224, 224, 224);
    --btn-bg-color: rgb(63, 81, 181);
    --btn-hover-bg-color: rgb(48, 63, 159);
}

/* Общие стили */
.body_main {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--text-color);
}

/* Шапка */
header {
    background-color: var(--header-bg-color);
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
    color: var(--header-text-color);
    font-family: 'Montserrat', sans-serif;
}

.tagline {
    font-size: 1.2em;
    color: var(--header-text-color);
}

/* Секция героя */
.hero-image {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--hero-text-color);
    text-align: center;
}

.hero-content {
    background-color: var(--hero-bg-color);
    padding: 20px;
    border-radius: 10px;
}

.hero-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--btn-bg-color);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: var(--btn-hover-bg-color);
}

/* Секция услуг */
.services {
    padding: 50px 0;
    text-align: center;
    background-color: var(--services-bg-color);
}

.services h2 {
    font-size: 2em;
    margin-bottom: 7%;
    color: var(--services-text-color);
    font-family: 'Montserrat', sans-serif;
}

.service-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service-card {
    background-color: var(--card-bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.service-card:hover {
    transform: translateY(-10px);
}

.service-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: var(--services-text-color);
}

.service-card p {
    font-size: 1em;
    color: var(--card-text-color);
}

/* Секция цитат */
.quotes {
    padding: 50px 0;
    text-align: center;
    background-color: var(--quote-bg-color);
}

.quotes h2 {
    font-size: 2em;
    margin-bottom: 30px;
    color: var(--services-text-color);
    font-family: 'Montserrat', sans-serif;
}

.quote-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid rgb(77, 77, 77);
    border-radius: 10px;
    background-color: var(--card-bg-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100px;
    overflow: hidden;
}

.quote-text {
    font-size: 1.5em;
    color: var(--quote-text-color);
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    transform: translateY(20px);
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quote-text.active {
    opacity: 1;
    transform: translate(-50%, -50%);
}

/* Методология расчета калорий */
.methodology {
    padding: 50px 0;
    background-color: var(--methodology-bg-color);
}

.methodology h2 {
    font-size: 2em;
    margin-bottom: 30px;
    color: var(--methodology-text-color);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.methodology-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--card-bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.methodology-content h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: var(--methodology-text-color);
}

.methodology-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: var(--card-text-color);
}

.methodology-content ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 1.2em;
    color: var(--card-text-color);
}

.methodology-content ul li {
    margin-bottom: 10px;
}
