/* Общие стили */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Стили для навигационной панели */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 30px 20px;
    color: white;
}

.navbar-brand a {
    color: white;
    text-decoration: none;
    font-size: 1.8em;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    gap: 20px;
    font-size: 1.1em;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #ffcc00; /* Желтый оттенок */
}

/* Стили для мобильного меню */
.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

/* Стили для активного состояния мобильного меню */
.navbar-toggle.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.navbar-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.navbar-toggle.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.navbar-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    width: 100%;
    text-align: center;
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 768px) {
    .navbar-links {
        display: none;
    }

    .navbar-toggle {
        display: flex;
    }
}

/* Стили для футера */
.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: flex;
    bottom: 0;
    width: 100%;
}