:root {
    --bg-color: #f0f4f8;
    --text-color: #333;
    --header-bg-color: #6c757d;
    --header-text-color: #fff;
    --hero-bg-color: rgba(0, 0, 0, 0.5);
    --hero-text-color: #fff;
    --services-bg-color: #e9ecef;
    --services-text-color: #343a40;
    --quote-bg-color: #CFCFCF;
    --quote-text-color: #555;
    --methodology-bg-color: #f0f4f8;
    --methodology-text-color: #343a40;
    --card-bg-color: #fff;
    --card-text-color: #555;
    --btn-bg-color: #007bff;
    --btn-hover-bg-color: #0056b3;
}

.dark-theme {
    --bg-color: #121212;
    --text-color: #e0e0e0;
    --header-bg-color: #333;
    --header-text-color: #e0e0e0;
    --hero-bg-color: rgba(0, 0, 0, 0.7);
    --hero-text-color: #e0e0e0;
    --services-bg-color: #212121;
    --services-text-color: #e0e0e0;
    --quote-bg-color: #333;
    --quote-text-color: #e0e0e0;
    --methodology-bg-color: #121212;
    --methodology-text-color: #e0e0e0;
    --card-bg-color: #424242;
    --card-text-color: #e0e0e0;
    --btn-bg-color: #3f51b5;
    --btn-hover-bg-color: #303f9f;
}
/* Общие стили */
.body_main {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--text-color);
}

/* Шапка */
header {
    background-color: var(--header-bg-color);
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
    color: var(--header-text-color);
}

.tagline {
    font-size: 1.2em;
    color: var(--header-text-color);
}

/* Секция героя */
.hero-image {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--hero-text-color);
    text-align: center;
}

.hero-content {
    background-color: var(--hero-bg-color);
    padding: 20px;
    border-radius: 10px;
}

.hero-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--btn-bg-color);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: var(--btn-hover-bg-color);
}

/* Секция услуг */
.services {
    padding: 50px 0;
    text-align: center;
    background-color: var(--services-bg-color);
}

.services h2 {
    font-size: 2em;
    margin-bottom: 7%;
    color: var(--services-text-color);
}

.service-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service-card {
    background-color: var(--card-bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.service-card:hover {
    transform: translateY(-10px);
}

.service-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: var(--services-text-color);
}

.service-card p {
    font-size: 1em;
    color: var(--card-text-color);
}

/* Секция цитат */
.quotes {
    padding: 50px 0;
    text-align: center;
    background-color: var(--quote-bg-color);
}

.quotes h2 {
    font-size: 2em;
    margin-bottom: 30px;
    color: var(--services-text-color);
}

.quote-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #4D4D4D;
    border-radius: 10px;
    background-color: var(--card-bg-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100px;
    overflow: hidden;
}

.quote-text {
    font-size: 1.5em;
    color: var(--quote-text-color);
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    transform: translateY(20px);
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quote-text.active {
    opacity: 1;
    transform: translate(-50%, -50%);
}

/* Методология расчета калорий */
.methodology {
    padding: 50px 0;
    background-color: var(--methodology-bg-color);
}

.methodology h2 {
    font-size: 2em;
    margin-bottom: 30px;
    color: var(--methodology-text-color);
    text-align: center;
}

.methodology-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--card-bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.methodology-content h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: var(--methodology-text-color);
}

.methodology-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: var(--card-text-color);
}

.methodology-content ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 1.2em;
    color: var(--card-text-color);
}

.methodology-content ul li {
    margin-bottom: 10px;
}
