{% extends "Base.html" %}

{% block content %}
<link rel="stylesheet" href="../../static/assets/css/add_product.css">
<div class="body_add_product">
    <div class="container">
        <h1>Добавить продукт</h1>
        <form id="product-form" action="{{add_product}}" method="post">
            <div class="input-group">
                <label for="product-name">Название продукта:</label>
                <input type="text" id="product-name" name="product-name" required>
            </div>
            <div class="input-group">
                <label for="protein">Белки (100г):</label>
                <input type="number" id="protein" name="protein" step="0.1" required>
            </div>
            <div class="input-group">
                <label for="fat">Жиры (100г):</label>
                <input type="number" id="fat" name="fat" step="0.1" required>
            </div>
            <div class="input-group">
                <label for="carbs">Углеводы (100г):</label>
                <input type="number" id="carbs" name="carbs" step="0.1" required>
            </div>
            <div class="input-group">
                <label for="calories">Калории(100г):</label>
                <input type="number" id="calories" name="calories" step="1" required>
            </div>
                <button type="submit">Добавить продукт</button>
        </form>
        <div id="result" class="result"></div>
    </div>
</div>
{% endblock %}