<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="../../static/assets/css/style_base.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
<nav class="navbar">
    <div class="navbar-brand">
        <a href="{{header_links[0]}}">FoodHelper</a>
    </div>
    <div class="navbar-links">
        <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider round">
                    <div class="sun"> ☀️</div>
                    <div class="moon"> 🌙</div>
                </div>
            </label>
        </div>
        <a href="{{header_links[1]}}">План на день</a>
        <a href="{{header_links[2]}}">Календарь</a>
        <a href="{{header_links[3]}}">Кабинет</a>
        <a href="{{header_links[4]}}">Новости</a>
        <a href="{{header_links[5]}}">Авторизация</a>
        <a href="{{header_links[6]}}">Регистрация</a>
    </div>
    <div class="navbar-toggle">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</nav>
<script>
    document.querySelector('.navbar-toggle').addEventListener('click', function() {
        document.querySelector('.navbar-links').classList.toggle('active');
        document.querySelector('.navbar-toggle').classList.toggle('active');
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const themeToggleBtn = document.getElementById('checkbox');
        const savedTheme = localStorage.getItem('theme');

        if (savedTheme === 'dark') {
            document.body.classList.add('dark-theme');
            themeToggleBtn.checked = true;
        }

        themeToggleBtn.addEventListener('change', function() {
            document.body.classList.toggle('dark-theme');
            const isDarkTheme = document.body.classList.contains('dark-theme');
            localStorage.setItem('theme', isDarkTheme ? 'dark' : 'light');
        });
    });
</script>
{% block content %}
<!-- Здесь будет основное содержимое страницы -->
{% endblock %}

<footer class="footer">
    <p>Food Helper 2024 Все права защищены</p>
</footer>
</body>
</html>