<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="static/assets/css/style_base.css">
</head>
<body>
<nav class="navbar">
    <div class="navbar-brand">
        <a href="{{header_links[0]}}">FoodHelper</a>
    </div>
    <div class="navbar-links">
        <a href="{{header_links[1]}}">План на день</a>
        <a href="{{header_links[2]}}">Календарь</a>
        <a href="{{header_links[3]}}">Кабинет</a>
        <a href="{{header_links[5]}}">Авторизация</a>
        <a href="{{header_links[6]}}">Регистрация</a>
    </div>
    <div class="navbar-toggle">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        </div>
</nav>
<script>
    document.querySelector('.navbar-toggle').addEventListener('click', function() {
        document.querySelector('.navbar-links').classList.toggle('active');
        document.querySelector('.navbar-toggle').classList.toggle('active');
    });
</script>

{% block content %}
<!-- Здесь будет основное содержимое страницы -->
{% endblock %}

<footer class="footer">
    <p>Food Helper 2024 Все права защищены</p>
</footer>
</body>
</html>